@model CarBrandCategory
<head>
    <link href="~/css/CustomStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="img-thumbnail imgStyleCard" style="height:250px" src="@Model.ImgBrand" alt="" />
            <!--swiper-container, swiper-slides    -->
        </div>
    </div>

</body>