<h2>All brands</h2>
<h3></h3>
<div class="album py-5 ">
    <div class="container mt-5">
        <div class="row">
            @{
                foreach (CarBrand brand in Model.AllBrand)
                {

                    @Html.Partial("AllBrands",brand)

                }
            }
        </div>

    </div>
</div>
